.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10rem;
  }
  .home-body {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .home-description {
    // white-space: nowrap;
    h1 {
      margin-bottom: 2rem;
      font-size: 1.2rem;
    }
    h2 {
      font-size: 1.1rem;
    }
  }
  .home-image img {
    padding-top: 5rem;
    margin-bottom: -0.4rem;
    height: auto;
    max-width: 100%;
  }
  @media screen and (min-width: 769px) {
    .home-image img {
      max-width: 860px;
    }
    .home {
      padding-top: 8.5rem;
    }
    .home-description {
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.75rem;
      }
    }
  }
  @media screen and (min-width: 1130px) {
    .home-description {
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 2rem;
      }
    }
  }
  @media screen and (min-width: 1367px) {
    .home {
      padding-top: 23rem;
    }
  }
  